body {
    color: #00008B;
}
<style>
table.DocumentsTable {
  width: 50%;
  background-color: #ffffff;
border-collapse: separate;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  color: #000000;
}

table.DocumentsTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  padding: 1pc;
}

table.DocumentsTable thead {
  background-color: #ffffff;
}
</style>